<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Usuarios</h4>
                <table *ngIf="usuarios.length !== 0; else sinResultados" class="table table-hover">
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" style="cursor:pointer;">
                            <td><img src="{{ usuario.img | imagen:'usuario' }}" class="w75" alt=""></td>
                            <td>{{ usuario.nombre }}</td>

                        </tr>
                    </tbody>
                </table>
                <ng-template #sinResultados>
                    <div class="alert alert-info">
                        No hay registros
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospital</h4>
                <table *ngIf="hospitales.length !== 0; else sinResultados" class="table table-hover">
                    <tbody *ngFor="let hospital of hospitales" [routerLink]="['/hospitales']" style="cursor:pointer;">
                        <tr>
                            <td><img src="{{ hospital.img | imagen:'hospital' }}" class="w75" alt=""></td>
                            <td>{{ hospital.nombre }}</td>

                        </tr>
                    </tbody>
                </table>
                <ng-template #sinResultados>
                    <div class="alert alert-info">
                        No hay registros
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medicos</h4>
                <table *ngIf="medicos.length !== 0; else sinResultados" class="table table-hover">
                    <tbody>
                        <tr *ngFor="let medico of medicos" [routerLink]="['/medico', medico._id]" style="cursor:pointer;">
                            <td><img src="{{ medico.img | imagen: 'medico' }}" class="w75" alt=""></td>
                            <td>{{ medico.nombre }}</td>

                        </tr>
                    </tbody>
                </table>
                <ng-template #sinResultados>
                    <div class="alert alert-info">
                        No hay registros
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>